* {
  box-sizing: border-box;
}
body {
  background-color:#eee;
  font-size:16px;
}
.card {
  background-color:#fff;
  box-shadow:0px 1px 5px #222;
}
.card > header {
  font-size:1.5rem;
  padding:0.5rem;
}
.card > p {
  padding:0.5rem;
  line-height:1.6em;
}
img {
  max-width:100%;
}