		body {
			width:500px;
			margin:0 auto;
		}
		.del {
			font-size:10px;
			color:#ccc;
			background:transparent;
			padding:5px;
			border:1px solid #ccc;
			float:right;
			margin-right:10px;
		}
		.del:hover {
			color:#222;
			border:1px solid #222;
		}