#container {
  width:800px;  /* 컨테이너 너비 */
  margin:0 auto;   /* 컨테이너 화면 중앙에 배치 */
}
table, th, td {
  border:1px solid #222;  /* 표 테두리 */
  border-collapse: collapse;  /* 테두리 1줄만 표시 */
}
th, td {
  padding:10px;  /* 셀 안쪽의 여백(패딩) */
}

