table, th, td {
  border:1px solid #ccc;
  border-collapse: collapse;
}
th, td { 
  padding:10px 20px; 
}
div {
  border:1px solid #222;  /* 테두리 */
}
#container {
  width:600px;  /* 컨테이너의 너비 */
  border:none;    /* 테두리 없앰 */
}