* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* 컨테이너 - 내용 전체를 묶음 */
#container {
  width:1200px;
  margin:0 auto;
}

/* 헤더 - 로고와 메뉴 포함 */
header {
  width:100%;
  height:80px;
  border:1px solid #000;
  margin-bottom: 20px;
}
/* 내용 1 - 이미지 */
#content1 {
  width:100%;
  height:600px;
  border:1px solid #000;
}

/* 내용 2  - 이미지와 텍스트 3개 */
#content2 {
  width: 100%;
  height:300px;
  border:1px solid #000;
}

/* 푸터  - SNS 링크 포함 */
footer {
  width:100%;
  height:60px;
  border:1px solid #000;
  margin-top:20px;
}