body {
	background-color:#0c3268;
	color:rgb(243, 243, 243);
}

p {
	margin-top:80px;
	font-size:2em;
	font-weight:700;
	text-align: center;
	text-shadow:1px 2px 1px #000;
}

p strong {
	font-size:2.2em;
	color:yellow;
}